extends layout 

block content 
  a(href="../") Go back 
  form(method='POST' action="/new")
    h1 #{title} 
    input(type="text" name="author" placeholder="Author")
    input(type="text" name="message" placeholder="Message") 
    button(type="submit") Submit